/backend/vendor
/backend/.env
/backend/public/hot
/backend/public/storage
/backend/storage/*.key
/backend/node_modules

/frontend/node_modules
/frontend/dist
/frontend/.env
/frontend/.env.local
/frontend/.env.*.local

/ai_engine/__pycache__
/ai_engine/models/*
/ai_engine/.venv
/ai_engine/venv

/data

**/__pycache__/
*.pyc

.DS_Store
.idea
.vscode
docker-compose.override.yml
**/*.log
.env
# Rust build artifacts
**/target/
*.rs.bk

# Go binaries
ai_engine_go/benchmark_go
