/backend/vendor
/backend/.env
/backend/public/hot
/backend/public/storage
/backend/storage/*.key
/backend/node_modules

/frontend/node_modules
/frontend/dist
/frontend/.env
/frontend/.env.local
/frontend/.env.*.local

/ai_engine/__pycache__
/ai_engine/models/*
/ai_engine/.venv
/ai_engine/venv

.DS_Store
.idea
.vscode
**/*.log
