version: '3.8'
services:
  frontend:
    command: npm run dev -- --host
    volumes:
      - ./frontend:/app
      - /app/node_modules
  
  api:
    command: php artisan serve --host=0.0.0.0 --port=15000
    volumes:
      - ./backend:/var/www/html
  
  ai_worker:
    volumes:
      - ./ai_engine:/app
    environment:
      PYTHONUNBUFFERED: 1
  
  # Herramientas extra solo para ti
  label_studio:
    image: heartexlabs/label-studio:latest
    ports:
      - "8081:8080"



    